<html>
    <head>
    <% include partials/meta.ejs %>
    <body>
        <div class="container" style="bacground-image: imgs/ooi.png">
            <!--<img src="images/ooi.png"  heigth="50px" class="img-responsive"/> -->
            <% include partials/header.ejs %>
        </div>
        <% include partials/nav.ejs %>
        <div class="container">
        <%= content%>
               
        </div>
         <% include partials/jsincludes.ejs %>
    </body>
</html>